<!--
<div>
    <div><%=title%></div>
    <label for="contractno"><%=fields[0].title%></label>
    <input id="contractno" type="text" value=""/>
    <div class="table">
        <div class="tr">
            <div class="td">
                <a class="btn digit-btn">1</a>
            </div>
            <div class="td">
                <a class="btn digit-btn">2</a>
            </div>
        </div>
    </div>
</div>
-->

<div class="table">
    <div class="tr">
        <div class="td">
            <a class="btn digit-btn">1</a>
        </div>
        <div class="td">
            <a class="btn digit-btn">2</a>
        </div>
        <div class="td">
            <a class="btn digit-btn">3</a>
        </div>
    </div>
    <div class="tr">
        <div class="td">
            <a class="btn digit-btn"></a>
        </div>
        <div class="td">
            <a class="btn digit-btn"></a>
        </div>
        <div class="td">
            <a class="btn digit-btn"></a>
        </div>
    </div>
</div>