<div class="table">
    <div class="tr">
        <div class="td">
            <div class="label">Home and Cellular phones</div>
            <a id="phone-btn" class="btn" href="#group/phone"></a>
        </div>
        <div class="td">
            <div class="label">Satellite and Cable TV</div>
            <a id="antenna-btn" class="btn" href="#group/antenna"></a>
        </div>
        <div class="td">
            <div class="label">Internet and Communication</div>
            <a id="internet-btn" class="btn" href="#group/internet"></a>
        </div>
    </div>
    <div class="tr">
        <div class="td">
            <div class="label">Utilities and Housekeeping</div>
            <a id="utilities-btn" class="btn" href="#group/utilities"></a>
        </div>
        <div class="td">
            <div class="label">Security and Protection</div>
            <a id="security-btn" class="btn" href="#group/security"></a>
        </div>
        <div class="td">
            <div class="label">Bank payments</div>
            <a id="bank-btn" class="btn" href="#group/bank"></a>
        </div>
    </div>
</div>